@import "../utils/vars";

.assets-section {
  display: flex;
}
.asset {
  margin: 0 30px 94px 0;
  &:nth-child(4) {
    margin-right: 0;
  }
  &__item {
    width: 270px;
    height: 120px;
    background-color: $assets-icons-background-color;
    margin-bottom: 30px;
  }
  &__icon {
    margin: 25px 100px;
  }
  &__tittle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}
