.clients-section {
  &__headline {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__icon-background {
    width: 180px;
    height: 92px;
    border: $clients-icon-background;
    border-radius: 4px;
    margin: 30px 0;
    &:focus,
    &:hover {
      border: $clients-icon-background-active;
      & > .clients-section__icon {
        fill: $primary-color;
      }
    }

    @include tablet {
      width: 226px;
    }

    @include desktop {
      width: 170px;
    }
  }
  &__icon {
    margin: 16px 32px;
    fill: $clients-svg-colors;

    &--positon {
      margin: 12% 40%;
    }
    &--positon-1 {
      margin: 12% 38%;
    }
    &--positon-2 {
      margin: 14% 38%;
    }
    &--positon-3 {
      margin: 12% 34%;
    }
    &--positon-4 {
      margin: 8% 30%;
    }
    &--positon-5 {
      margin: 12% 28%;
    }
  }
}
