.gallery-section {
  display: none;

  @include desktop {
    display: contents;
  }

  &__headline {
    font-size: 36px;
    line-height: 1.31;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.gallery-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 94px;
  &__item {
    margin-right: 30px;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  &__label {
    background-color: $gallery-img-labels-color;
    width: 100%;
    height: 70px;
    position: relative;
    top: -84px;
  }
  &__caption {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0;
  }
}
