@import "../utils/vars";

body {
  font-family: "Roboto", sans-serif;
  color: $primary-text-color;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: $links;
  &:hover,
  &:focus,
  &:visited:hover,
  &:visited:focus {
    color: $primary-color;
  }
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
