.main-footer {
  background: $header-background-color;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      margin-right: 144px;
    }

    @include desktop {
      margin-right: 70px;
    }
  }
  &__webstudio-link {
    font-family: $logo-font;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
  }
  &__span-web {
    color: $primary-color;
  }
}
.address {
  margin-bottom: 60px;
  &__list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    width: max-content;
    margin-bottom: 9px;
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
  &__map-link {
    color: #fff;
  }
  &__mail,
  &__tel {
    color: $footer-contact-links-color;
  }
}
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 206px;
  height: 80px;
  margin-bottom: 60px;
  &__headline {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 20px;
    width: max-content;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    width: 206px;
  }
  &__border {
    background-color: $footer-socials-background-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    &:hover,
    &:focus {
      background-color: #2196f3;
    }
  }
  &__icon {
    fill: #fff;
    margin: 12px;
  }
}
.newsletter {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    width: max-content;
  }
  &__email-input {
    border: $clients-icon-background-active;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    width: 90vw;
    background-color: transparent;
    color: #fff;
    outline: none;
    margin-bottom: 20px;

    &:placeholder-shown {
      border-color: $newsletter-border-color;
    }
    &[placeholder] {
      padding-left: 16px;
    }
  }
  &__button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: $primary-color;
    text-align: center;
    border-radius: 4px;
    height: 50px;
    width: 200px;
  }
  &__icon {
    fill: #fff;
    position: relative;
    top: 5px;
    left: 16px;
  }
}
