.team-section {
  width: auto;
  background: $assets-icons-background-color;
  padding: 94px 0;

  &__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px;
  }
}
.employee-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  margin: 0;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__member {
    display: block;
    background: #fff;
    box-shadow: $team-member-shadow;
    margin-bottom: 30px;

    @include tablet {
      max-width: 350px;
    }

    @include desktop {
      margin-right: 30px;
      &:nth-child(4) {
        margin-right: 0;
      }
      max-width: 264px;
    }
  }
  &__member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__member-role {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
  &__social-links {
    display: flex;
    max-width: 206px;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 18px;
  }
  &__icons-border {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    &:hover,
    &:focus {
      background-color: $primary-color;
      & > .employee-list__social-icon {
        fill: #fff;
      }
    }
  }
  &__social-icon {
    margin: 12px;
    fill: $employee-socials-colors;
  }
}
